body {
  background-color: #e0dfdf !important;
}

.nav-link,
.nav-item {
    color: green;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.nav-link:after,
.nav-item :after {
    background-color: green;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav-link:hover:after,
.nav-item:focus:after {
    width: 87%;
}

a {
    color: black;
}

.navbar-nav:hover {
    text-decoration: none;
    color: green;
}

.footer-hr {
    width: 175px;
    text-align: left;
    background-color: rgb(177, 177, 177);
}

#footer {
    font-weight: bold;
    margin-top: 30px;
    background-color: white;
}

#under {
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    padding-top: 10px;
    height: 50px;
    font-size: 1.2em;
    margin-top: 30px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.nav-link,
.navbar-brand {
    font-size: 1.4em;
    margin-right: 20px;
    font-weight: bolder;
}

.nav-link:hover,
.nav-item:hover,
.navbar-brand:hover, .col-md-8:hover, .f-links:hover, .dropdown-item:hover {
    color: #058105 !important;
}

.container {
  background-color: white !important;
}

 ::selection {
    background-color: green;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  color: rgb(226, 49, 49);
  font-weight: bold;
  font-size: 2em !important;
  text-align: center;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#carouselId {
  width: 1000px;
  border-color: black !important;
  border-width: 1px !important;
}

.carousel-indicators > li{
  height: 5px !important;
  width: 50px !important;
  border-radius: 10px !important;
  background-color: rgb(255, 255, 255) !important;
}

.group-card {
  margin-top: 50px;
  padding-bottom: 50px;
}

.dropdown-item:active, .dropdown-item:focus {
  background-color: #058105 !important;
  color: black !important;
}

.dropdown-item:hover {
  color: #058105;
}

.dropdown-item {
  font-size: 1.1em;
}

nav.navbar .dropdown:hover > .dropdown-menu {
  display: block; 
  margin-top: -3px;
 }
 
a {
  color: black !important;
}

a:hover {
  text-decoration: none !important;
}

.card-text {
  font-weight: lighter;
}

.card-title {
  font-weight: 400;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: rgb(211, 211, 211, 0.2);
}

.social {
  margin-left: 7px;
  margin-right: 10px;
  height: 65px;
  width: 70px;
  text-align: center;
  padding-top: 9px;
  border-radius: 9px;
  transition: 1.3s;
}

.vk:hover {
  background-color: #597ba0;
}

.tlg:hover {
  background-color: #0088cc;
}

.vk:hover > .fa-vk {
  color: white !important;
}

.tlg:hover > .fa-telegram-plane {
  color: white !important;
}
